<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

Comments:

<div>
  <%= @post.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
</div>

Users:

<ul>
  <%= @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

Add a New Comment:

<%= form_for @post.comments.build do |f| %>

  <%= f.hidden_field :post_id %>

  <%= f.label "Content" %>
  <%= f.text_area :content %><br />

  <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => 'Please Select' %>

  <%= f.fields_for :users, @post.comments.last.build_user do |users_fields| %>
    <%= users_fields.text_field :username %>
  <% end %><br />

  <!-- <%= "#{@post.comments.last.user.username}" says: "#{@post.comments.last.content}" %> -->

  <%= f.submit %>

<% end %>
